.App {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Board {
    display: flex;
    flex-wrap: wrap;
    max-width: 565px;
    justify-content: space-between;
    text-align: center;
}

.Button {
    display: flex;
    border-style: solid;
    border-width: 1px;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
